%li
  %h4
    TSSとは
%blockquote
  TransferSupportSystemの略称です。高専生の編入試験の体験談を集約・掲示するために作成されました。
  %br
  このサイトを上手く利用して編入試験に活かしましょう。
%li
  %h4
    編入体験談について
%blockquote
  当サイトに投稿された体験談はだれでも閲覧することが可能です。
  %br
  体験談投稿の際には、スパム防止のために簡単なアカウント登録が必要です。
  %br
  =link_to'アカウント登録','/'
%li
  %h4
    お問い合わせ
%blockquote
  このサイトに対する問い合わせがあれば
  =mail_to'TSS@gmail.com','TSS_あっと_gmail.com',:subject=>'お問い合わせ'
  までお知らせください。
  %br
  _あっと＿を＠に置き換えてください。
%blockquote
  %p
    TSSとは


