.row-fluid
  .span12
    %h2{"style"=>"background-color : red;"}
      %center
        情報．求む
    %h4
      TSSとは
    %p
      このサイトはは大学編入体験談を閲覧、投稿するサイトです
      高専生は是非使おうぜ
    %h4
      %center
        体験談
.row-fluid
  .span3
    大阪大学
  .span3
    筑波大学
  .span3
    東北大学
  .span3
    東北大学
