.row-fluid
  .span12
    %center
      .carousel.slide#myCarousel
        .carousel-inner
          .active.item
            =image_tag("/img001.png")
          .item
            =image_tag("/img002.png")
          .item
            =image_tag("/img003.png")

        %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
        %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›

        :javascript
          $(document).ready(function(){
            $('#myCarousel').carousel({
              interval: 2000,
              cycle: true
            });
          });

    %h4
      TSSとは
    %p
      このサイトはは大学編入体験談を閲覧、投稿するサイトです
      高専生は是非使おうぜ
    %h4
      %center
        体験談
.row-fluid
  .span3
    大阪大学
  .span3
    筑波大学
  .span3
    東北大学
  .span3
    東北大学

