.row-fluid
  %h2
    %center
      高専生が求める編入体験談がこのサイトで見れる!!
.row-fluid
  %center
    .carousel.slide#myCarousel
      .carousel-inner
        .active.item
          =image_tag("/img001.png")
        .item
          =image_tag("/img002.png")
        .item
          =image_tag("/img003.png")

      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›

      :javascript
        $(document).ready(function(){
          $('#myCarousel').carousel({
            interval: 2000,
            cycle: true
          });
        });

.row-fluid
  .span6
    %h4
      更新情報
    %blockquote
      %table
        %tr
          %td
            2013/3/2
          %td
            大学を追加
        %tr
          %td
            2013/3/2
          %td
            大学を追加
        %tr
          %td
            2013/3/2
          %td
            大学を追加
        %tr
          %td
            2013/3/2
          %td
            大学を追加
  .span6
    %h4
      掲載されている大学
    %ul
      %li
        東京大学
      %li
        東京大学
      %li
        東京大学
      %li
        東京大学
      %li
        東京大学
      %li
        東京大学
      %li
        東京大学
