.row-fluid
  .span6
    %h3 主要大学一覧
    %ul.nav.nav-list
      %li
        = link_to sanitize('<i class="icon-home"></i> ') + '東京大学','/'
      %li
        = link_to sanitize('<i class="icon-home"></i> ') + '大阪大学','/'
  .span6
    %h3
      編入受験が終わった人は?

    %h4
      = link_to '編入体験談を投稿する', new_story_path
