.row-fluid
  %center
    =image_tag'/logo.png'
%li
  %h4
    HenTaiとは
%blockquote
  編入体験談(HennyuTaikendan)の略称です。高専生の編入試験の体験談を集約・掲示するために作成されました。
  %br
  HenTaiを上手く利用して編入試験を成功させよう。
  %br
  体験談投稿の際には、スパム防止のために簡単なアカウント登録が必要です。
%li
  %h4
    利用規約
%blockquote
  HenTaiに投稿された編入体験談はだれでも閲覧することが可能です。
  %br
  HenTaiに投稿された体験談の無断転載を禁じます。
  %br
  投稿された体験談の著作権は投稿者にあります。
  %br
  その他当サイトが不適切と判断した投稿は削除させていただきます。
%li
  %h4
    お問い合わせ
%blockquote
  このサイトに対する問い合わせがあれば
  %br
  =mail_to'HenTai@gmail.com','HenTai_あっと_gmail.com',:subject=>'お問い合わせ'
  %br
  までお知らせください。
  %br
  *_あっと＿を＠に置き換えてください。
