%h2
  %center
    高専生が求めていた編入体験談が集まるサイト!!
.row-fluid
  %center
    .carousel.slide#myCarousel
      .carousel-inner
        .active.item
          =image_tag("/img001.png")
        .item
          =image_tag("/img002.png")
        .item
          =image_tag("/img003.png")
      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
    :javascript
      $(document).ready(function(){
        $('#myCarousel').carousel({
          interval: 2000,
          cycle: true
        });
      });
.row-fluid
  .span6
    %h4
      更新情報
  .span6
    %h4
      掲載されている主な大学
      %ul.nav.nav-list
        %li= link_to'東京大学',
        %li= link_to'京都大学',
