.row-fluid
  .span8.offset2
    %h3
      HenTaiは高専生が求めている編入体験談が集まるサイトです
.row-fluid
  %center
    .carousel.slide#myCarousel
      .carousel-inner
        .active.item
          =image_tag("/img001.png")
        .item
          =image_tag("/img002.png")
        .item
          =image_tag("/img003.png")
      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
    :javascript
      $(document).ready(function(){
        $('#myCarousel').carousel({
          interval: 2000,
          cycle: true
        });
      });
.row-fluid
  .span6
    %h4
      更新情報
  .span6
    %h4
      掲載されている主な大学
      %ul.nav.nav-list
        - @schools.each{ |s| 
        %li
          = link_to s.school_name+"("+s.count.to_s+"件)",{:controller=>"stories" ,:action=>"search",:school_name=>s.school_name},{:method=>"post"}
        - }
